# table creation

In [3]:
import sqlite3
conn = sqlite3.connect('1example.db')
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
               id INTEGER PRIMARY KEY,
               name TEXT NOT NULL,
               age INTEGER,
               salary REAL,
               is_active BOOLEAN,
               bio TeXT,
               join_date DATETIME,
               profile_picture  BLOB,
               misc_data NUMERIC,
               created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
               )
               """)          
conn.commit()
conn.close()

# sqlite

In [10]:
import sqlite3

conn = sqlite3.connect('1example.db')
cursor = conn.cursor()

# Create table (fix 'TEXT' typo)
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    salary REAL,
    is_active INTEGER,
    bio TEXT,
    join_date DATETIME,
    profile_picture TEXT,
    misc_data NUMERIC,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")
cursor.execute("""
INSERT INTO users (name, age, salary, is_active, bio, join_date, profile_picture, misc_data)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)
""", ("Rajkumar", 22, 45000.5, 1, "BCT Student", "2025-01-01", "111.jpg", 678))

conn.commit()

cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
for row in rows:
    print(row)

conn.close()  # Close connection at the end

(1, 'Rajkumar', 22, 45000.5, 1, 'BCT Student', '2025-01-01', '111.jpg', 678, '2026-01-21 07:13:49')
(2, 'Rajkumar', 22, 45000.5, 1, 'BCT Student', '2025-01-01', '111.jpg', 678, '2026-01-21 07:25:22')

In [11]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

# Create SQLite engine
engine = create_engine('sqlite:///data1.db', echo=True)

# Base class
Base = declarative_base()

# Define User table
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String, nullable=False)
    email = Column(String, nullable=False, unique=True)
    course = Column(String)

# Create the table in database
Base.metadata.create_all(engine)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Multiple users to insert
users_to_add = [
    User(name="Rajkumar", email="rajkumar@example.com", course="BCT"),
    User(name="Sita", email="sita@example.com", course="BBA"),
    User(name="Ram", email="ram@example.com", course="BSc CSIT"),
    User(name="Gita", email="gita@example.com", course="BEd")
]

# Insert all at once
session.add_all(users_to_add)
session.commit()

# Query and print all users
all_users = session.query(User).all()
for user in all_users:
    print(user.id, user.name, user.email, user.course)

session.close()

ModuleNotFoundError: No module named 'sqlalchemy'

In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

# Create SQLite engine
engine = create_engine('sqlite:///data1.db', echo=True)

# Base class
Base = declarative_base()

# Define User table
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String, nullable=False)
    email = Column(String, nullable=False, unique=True)
    course = Column(String)

# Create the table in database
Base.metadata.create_all(engine)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Multiple users to insert
users_to_add = [
    User(name="Rajkumar", email="rajkumar@example.com", course="BCT"),
    User(name="Sita", email="sita@example.com", course="BBA"),
    User(name="Ram", email="ram@example.com", course="BSc CSIT"),
    User(name="Gita", email="gita@example.com", course="BEd")
]

# Insert all at once
session.add_all(users_to_add)
session.commit()

# Query and print all users
all_users = session.query(User).all()
for user in all_users:
    print(user.id, user.name, user.email, user.course)

session.close()

ModuleNotFoundError: No module named 'sqlalchemy'